*{
	margin:0;
	padding: 0;
}
.tray{

}
.tile{
   height: 50px;
   width: 50px;
  text-align: center;
  font-size: 48px;
  
}
.active
{
	 border: 1px solid #f00;
}
.inactive{

	 border: none;
	 padding: 1px;
}
.left
{
	float: left;
}
.clear
{
	clear: both;
}
#mode{

	height: 48px;
	width: 48px;
	border: none;
}
.mine
{
	background: url("../img/mine.png") no-repeat;
}
.flag
{
	background: url("../img/flag.png") no-repeat;
}