*{
	margin:0;
	padding: 0;
}
.tile{
   height: 50px;
   width: 50px;
  text-align: center;
  font-size: 48px;
  
}
.largeFont
{
	 font-size: 48px;
}
.active
{
	 border: 1px solid #f00;
}
.inactive{

	 border: none;
	 padding: 1px;
}
.left
{
	float: left;
}
.clear
{
	clear: both;
}
#mode{

	height: 50px;
	width: 50px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
	border-radius: 2px;
}
.mine
{
	background: url("../img/mine.png") no-repeat;
}
.flag
{
	background: url("../img/flag.png") no-repeat;
}
.dimension { 
	width: 48px; 
	height: 48px;
}
.no-button{
	border:	none;
	outline:none;
}
.container
{
	width: 260px;
	margin: 0 auto;
}
.right{
	float: right;
}
#minesFlaggedCount{
	text-align: center;
}